.app {
  font-family: "Open Sans", sans-serif;
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
  .content {
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    //background: rgba(255, 255, 255, 0.8);
  }
}